<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<div>
    <h1>Menú</h1>
    <h2>Categorías</h2>
    <ul>
        <li><a href="/registra_categorias">Registrar Categorías</a></li>
        <li><a href="/lista_categorias">Listar Categorías</a></li>

    </ul>
    <h2>WorkShops</h2>
    <ul>
        <li><a href="/registra_workshops">Registrar WorkShops</a></li>
        <li><a href="/lista_workshops">Listar WorkShops</a></li>
        <li><a href="/lista_workshop_categoria">Listar WorkShops Categoría</a></li>
        <li><a href="/lista_workshop_autor">Listar WorkShops Autor</a></li>
        <li><a href="/lista_workshop_keyword">Listar WorkShops Keyword</a></li>

    </ul>
</div>
</body>
</html>