<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Categories</title>
</head>
<body>
<div>
    <h1>Insertar Categoría</h1>
<form action="#" th:action="@{/registra_categorias}" th:object="${category}" method="post">
    <label for="name">Nombre</label>
    <input type="text" th:field="*{name}" id="name">
    <input type="submit" value="Registrar">
</form>

</div>
</body>
</html>